body{
  background-color: black;
  color: cornsilk;
}.moving-text {
    font-size: 4em;
    font-family: 'Noto Sans Variable', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    overflow: hidden;
    animation: moveText 3s ease-in-out forwards;
  }

 
  
.moving-text {
    font-family: "Josefin Sans", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
  }

 
  
 
  .skills-list {
    list-style: none;
    padding-left: 0;
    line-height: 1.8;
  }
  
  .skills-list li {
    margin-bottom: 8px;
    font-size: 14px;
  }
  
  h4 {
    border-bottom: 2px solid #007bff;
    padding-bottom: 5px;
    margin-bottom: 15px;
  }
 
  